
main{
    background-color: #302e2f;
    color: #fff;
}

main section{
    padding-bottom: 10px;

}

main section h2{
    text-align: center;
    padding-top: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 30px;
}

main section img{
    width: 50%;
    max-width: 450px;
    display: inline-block;
    height: 450px;
    border-radius: 7%;
}

main section ul{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

main section ul li{
    display: inline-block;
    margin: 25px 0;
}
