

main section h2{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    margin-top: 0px;
}

.servicos_lista{
    display: inline-block;
    margin: 0px auto 50px auto;
}

.servicos_lista li{
    background: #000;
    display: inline-block;
    width: 32%;
    min-width: 250px;
    height: 300px;
    text-align: center;
    border: #fff 2px solid;
    vertical-align: top;
    margin: 0px 2px 2px 0px;
    box-sizing: border-box;
    color: #fff;
}

.servicos_lista li h3{
    font-size: 22px;
}

.servicos_lista li p{
    padding: 5 auto;
}

.servicos_icone{
    background: #120333;
}

.icon_servicos{
    padding: 35px;
    width: 80px;
}

.servicos_lista li h3{
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
}

/* Portfolio */
.portfolio{
    width: 100%;
    background: #000;
    margin-bottom: -80px;
}

.portfolio h2{
    color: #fff;
}

.portfolio ul{
    margin-bottom: 80px;
    padding: 0;
    padding-bottom: 40px;
}

.portfolio ul li{
    display: inline-block;
    width: 32%;
    height: 350px;
    vertical-align: top;
    margin: 0px 2px;
    border: 2px solid #fff;
    text-align: center;
    box-shadow: 2px 2px 5px #fff;
    margin-bottom: 10px;
}
.portfolio ul li img{
    width: 100%;
    height: 100%;
}